.header {
    grid-area: h;
    background-color: rgba(0, 0, 0, 0.1);
}

.logo {
    height: 130px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
    text-shadow: #1890ff 0 0 2px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.logout {
    padding: 20px 0;
    font-size: 20px;
    margin: 10px;
}

.avatar {
    border-radius: 50%;
    height: 60px;
    padding: 0 10px;
}