.descriptionBlock {
    padding: 10px;
}

.profileImg img {
    width: 100%;
}

.avatar {
    text-align: center;
}

.mainPhoto {
    max-width: 200px;
    border-radius: 50%;
}

.contact {
    padding-left: 10px;
}