.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-shadow: #1890ff 0 0 2px;
}

.container {
    color: #fff;
    text-align: center;
    padding: 30px;
    border: 1px solid #fff;
    width: 280px;
    min-height: 280px;
    max-height: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.login {
    color: #fff;
    text-shadow: #1890ff 0 0 2px;
}

.form {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-weight: bold;
}

.captchaInput {
    color: #000;
}